*{
    box-sizing: border-box;
    background-color: black;
}

.cal{
    height:100vh;
    width: 380px;
    background-color: black;
    border-radius: 2%;
}

body{
    margin-top: 2px;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.display{
    color: white;
    text-align: right;
    height: 25%;
    font-size: 50px;
    padding-top: 110px;
    padding-right: 15px;
}

.button{
    background-color: #d8d9db;
    border: none;
    margin-right: 2.5px;
    border-radius: 12%;
    width: 25%;
    height: 13vh;
    margin-bottom: 0.7%;
    font-size: xx-large;
}

.row1{
    display:flex;
}

.row2{
    display:flex;
}

.row3{
    display:flex;
}

.row4{
    display:flex;
}

.row5{
    display:flex;
}

.x2-size{
    width: 50.7%;
    height: 13vh;
    margin-bottom: 0.7%;
    font-size: xx-large;
}

.lhs-buttons{
    margin-left: 0.7%;
}

.button:last-child{
    background-color: #df974c;
    color: white;
}

.button:focus{outline:none;}   /* added a focus element below to retain the accesibility */

.button:hover{
    cursor: pointer;
    background-color: #ebebeb;
}

.button:last-child:hover{
    background-color: #dfb07e;
}

.button:focus{
    background-color: #ebebeb;
}

.button:last-child:focus{
    background-color: #dfb07e;
}

.button:active{
    background-color: #bbbcbe;
}

.button:last-child:active{
    background-color: #dd8d37;
}