*{
    box-sizing: border-box;
}

.cal{
    width: 400px;
    background-color: black;
}

.display{
    color: white;
    text-align: right;
    height: 100px;
    font-size: 100px;
}

.buttons{
    
}

.x1-size{
    width: 24.25%;
    height: 100px;
    margin-bottom: 0.8%;
    font-size: xx-large;    
}

.x2-size{
    width: 49.4%;
    height: 100px;
    margin-bottom: 0.8%;
    font-size: xx-large;
}

.x3-size{
    width: 74.7%;
    height: 100px;
    margin-bottom: 0.8%;
    font-size: xx-large;
}

.bottom-buttons{
    margin-bottom: 0px;
}